<div id="overlay" class="overlay" style="background: rgba(208, 208, 208, 0.62);">
  <div class="overlay--body">
    {% csrf_token %}
    <form id="accountCreate">
      <a class="overlay--close" href='#' onclick='overlay()'><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></a>
      <h2 style="margin-bottom: 0;">Create New Account</h2>
      <h3 style="margin-top: 0;"><i class="fa fa-university" aria-hidden="true"></i></h3>
      <div id="errors" class="errors hidden"></div>
      <div class="overlay--detail"> 
        <div class="input-group">
          <label class="label">Name:</label>
          <input class="input" id="id_name" maxlength="254" name="name" type="text"/>
        </div>
      </div>
      <br/>
      <button type="submit" class="button button-color-1">Create Account</button>
    </form>
  </div>
</div>
