{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<div class="content">
  <h1 {% if total_balance > -1 %}class="text-color-green"{% else %}class="text-color-red"{% endif %}>{{ total_balance|as_currency }}</h1>
  <h3>Accounts</h3>
  {% for account in request.user.accounts.all %}
    <div>
      <a href="">{{ account.name }}</a>
    </div>
  {% endfor %}
  <hr>
  <h3>Budgets</h3>
  {% for budget in budgets %}
    <div>
      <a href="">{{ budget.title }}</a>
    </div>
  {% endfor %}
    {% if transactions %}
        <h3 style="display:inline-block">Latest Transactions</h3>&nbsp;<a href="">view more</a>
        <table>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Account</th>
            <th>Budget</th>
          </tr>
          {% for transaction in transactions %}
          {% with amount=transaction.amount|abso %}
          <tr>
            <td>{{ transaction.created }}</td>
            <td>{{ transaction.name }}</td>
            <td>{% if transaction.transaction_type == 'debit' %}{{ amount|as_currency }}{% else %}&nbsp;{% endif %}</td>
            <td>{% if transaction.transaction_type == 'credit' %}{{ amount|as_currency }}{% else %}&nbsp;{% endif %}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.budget|default_if_none:"--" }}</td>
          </tr>
          {% endwith %}
          {% endfor %}
        </table>
    {% else %}
        <h3>Latest Transactions</h3>
        <span>No transactions yet.</span>
    {% endif %}
  <hr>
  <a href="{% url 'budgets:transaction-add' %}">Record a transaction</a>
  <a href="{% url 'budgets:transaction-add' %}">New Budget</a>
  <a href="{% url 'budgets:transaction-add' %}">Add Account</a>
</div>
{% endblock content %}
