{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<div class="content">
  {% csrf_token %}
  <h3 style="display:inline-block">Accounts</h3>
  <span>
    <a href="{% url 'accounts:account-add' %}">
      <i class="fa fa-plus text-color-green" aria-hidden="true"></i>
    </a>
  </span>
  <div class="table-container">
    <div>
      <table class="table-minimal">
        <thead>
          <tr>
            <th>Name</th>
            <th>Balance</th>
          </tr>
        </thead>
        {% for account in request.user.accounts.all %}
            <tr>
              <td>{{ account.name }}</td>
              <td>{{ account.balance|as_currency }}</td>
            </tr>
        {% endfor %}
        <tr>
          <td><a href="">see more</a></td>
        </tr>
      </table>
    </div>
    <div class="right-side">
      <h3>Total Balance:</h3>
      <h1 {% if total_balance > -1 %}class="text-color-green"{% else %}class="text-color-red"{% endif %}>{{ total_balance|as_currency }}</h1>
    </div>
  </div>
  <hr>
  <h3 style="display:inline-block">Budgets</h3>
  <span>
    <a href="{% url 'budgets:budget-select' %}"><i class="fa fa-plus text-color-green" aria-hidden="true"></i></a>
  </span><br/>
  {% for budget in budgets %}
    <div ondragover="allowDrop(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event, this)" data-budget="{{ budget.pk }}" class="budget-display">
      <div class="budget-icon child-elements">
        <span style="color:{{ budget.icon_color }};">{{ budget.icon|change_size:"fa-5x"|safe }}</span>
      </div>
      <div class="budget-info child-elements">
        <a href="#" onclick="overlay({{ forloop.counter }})">{{ budget.title }}</a>
      </div>
    </div>
    <div class="overlay" style="background: {{ budget.icon_color }};" id="overlay-{{ forloop.counter }}">
      <div class="overlay--body">
        <a class="overlay--close" href='#' onclick='overlay({{ forloop.counter }})'><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></a>
        <h2 style="margin-bottom: 0;">{{ budget.title }}</h2>
        <p style="margin-top: 0;">{{ budget.get_budget_type_display }} budget</p>
        <span style="color:{{ budget.icon_color }};">{{ budget.icon|change_size:"fa-5x"|safe }}</span>
        <hr/>
        <div class="overlay--detail"> 
        <p>Created: {{ budget.created }}</p>
        <p>Goal date: {{ budget.goal_date }} ({{ budget.goal_date|time_diff }} days away)</p>
        <p>Amount: {{ budget.amount|as_currency }} of {{ budget.goal|as_currency }}</p>
        </div>
        <a href='#'><i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
      </div>
    </div>

  {% endfor %}

  <hr>
  {% if transactions %}
      <h3 style="display:inline-block">Latest Transactions</h3>
      <span>
        <a href="{% url 'budgets:transaction-add' %}"><i class="fa fa-plus text-color-green" aria-hidden="true"></i></a>
      </span>
      <table class="table-minimal">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Account</th>
            <th>Budget</th>
          </tr>
        </thead>
        {% for transaction in transactions %}
        {% with amount=transaction.amount|abso %}
        <tr>
          <td>{{ transaction.created }}</td>
          <td id="transaction_id_{{ transaction.pk }}" data-transaction="{{ transaction.pk }}" draggable="true" ondragstart="dragQueen(event)">{{ transaction.name }}</td>
          <td>{% if transaction.transaction_type == 'debit' %}{{ amount|as_currency }}{% else %}&nbsp;{% endif %}</td>
          <td>{% if transaction.transaction_type == 'credit' %}{{ amount|as_currency }}{% else %}&nbsp;{% endif %}</td>
          <td>{{ transaction.account }}</td>
          <td><span style="color:{{ transaction.budget.icon_color }};">{{ transaction.budget.icon|safe }} {{ transaction.budget }}</span></td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
          <td><a href="">see more</a></td>
        </tr>
      </table>
  {% else %}
      <h3>Latest Transactions</h3>
      <span>
        <a href=""><i class="fa fa-plus text-color-green" aria-hidden="true"></i></a>
      </span>
      <span>No transactions yet.</span><i class="fa fa-plus text-color-green" aria-hidden="true"></i>
  {% endif %}
</div>

<script>
function overlay(id) {
    el = document.getElementById("overlay-" + id);
    //el.classList.toggle("hidden");
    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}

function dragQueen(event) {
    console.log(event.target.dataset.transaction);
    event.dataTransfer.setData("trans_id", event.target.dataset.transaction);
}

function allowDrop(event) {
    event.preventDefault();
}

function dragEnter(event) {
    event.target.classList.add('accept-drag');
}
function dragLeave(event) {
    event.target.classList.remove('accept-drag');
}

function drop(event, target) {
    event.preventDefault();
    event.target.classList.remove('accept-drag');
    var transactionId = event.dataTransfer.getData("trans_id");
    console.log(transactionId, target.dataset.budget);
    var draggedElement = document.getElementById(`transaction_id_${transactionId}`);
    console.log("dragged element:", draggedElement);
    // Example of removing the row of a td that was dragged.
    var rowElement = draggedElement.parentNode;
    rowElement.parentNode.removeChild(rowElement);
    var headers = {
        "X-CSRFToken": "{{ csrf_token }}"
    };
    var data = {
        "budget": parseInt(target.dataset.budget)
    };
    var url = "{% url 'budgets-rest:transaction-update' pk=1 %}";
    axios.patch(url, data, headers).then((response) => {
        console.log(response);
    });
}

</script>

{% endblock content %}
