{% load form_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
<nav class="first-nav">
  <ul>
    <li class="logo">Divvy</li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
    <li class="user dropdown">
    
      <div onclick="dropdown()" class="dropdown-button">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        {{ request.user.get_full_name }}
      </div>
    
      <div id="user_dropdown" class="dropdown-content hidden">
        <a href="{% url 'accounts:logout' %}">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>
<div class="centered-container">
  <div class="first-blurb">
    <h1>Use Divvy to manage your finances and save for the future.</h1>
  </div>
  <div class="form-box-container">
    <div class="title">Log in</div>
    <div class="body">
      <form name="loginForm" method="post">
        {% csrf_token %}
        {{ form|as_vertical_form }}
        <div class="action-group">
          <input type="submit" class="button button-color-1" value="Login"/>
        </div>
      </form>
    </div>
    <div class="footer"><hr/><a href="" class="link">Need an account?</a></div>
  </div>
</div>
<div class="intro-container-1">
  <h2>How Divvy Works</h2>
  <div class="intro-body">
    <div class="section-overview">
      <div class="feature">
        <img style="width: 150px;height:150px" src="{% static 'core/img/placeholder.png' %}"</img>
        <div>
          <h3>Record transactions.</h3>
          <p>Divvy can pull transaction data from your bank account. You can also choose to record transactions manually.</p>
        </div>
      </div>
      <div class="feature">
        <img style="width: 150px;height:150px" src="{% static 'core/img/placeholder2.png' %}"</img>
        <h3>Create and manage budgets.</h3>
        <p>Create personalized budgets to track your expenses and categorize transactions. Use Divvy to create alerts and reminders.</p>
      </div>
      <div class="feature">
        <img style="width: 150px;height:150px" src="{% static 'core/img/placeholder3.png' %}"</img>
        <h3>Analyze your spending habits.</h3>
        <p>Generate pretty graphs to visualize your data.</p>
      </div>
      <br/></br>
    </div>
  </div>
</div>
<div class="intro-container-2">
  <h2>Personal Finance Made Easy</h2>
</div>
<div class="intro-container-3">
  <br/>
  <p><i class="fa fa-copyright" aria-hidden="true"></i> 2016 Divvy | 
  <a class="link" href="">FAQ</a> |
  <a class="link" href="">Contact</a> |
  <a class="link" href="">Terms</a>
  </p>
  </br>
</div>
</body>
</html>
