{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/fa-select.css' %}">
  <script src="{% static 'core/js/accounting.min.js' %}"></script>
  <script src="{% static 'core/js/fa-select.js' %}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

  <title>Divvy - {% block page_title %}{% endblock page_title %}</title>
</head>

<body>

  {% block header %}
    {% include "includes/header.html" %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}
 
  <script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </script>
</body>

</html>
