{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<div class="content">  
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %} 
  <form method="POST">
    {% csrf_token %}
    {{form.errors}}
    {{ form|as_vertical_form }}
    <div class="action-group">
        <button type="submit" class="button" name="cancel">Cancel</button>
        <button type="submit" class="button button-color-1">Save Budget</button>
    </div>
  </form>
</div>

<script>
    window.onload = getFormGroup;

    function upTo(el, tagName) {
      tagName = tagName.toLowerCase();

      while (el && el.parentNode) {
        el = el.parentNode;
        if (el.tagName && el.tagName.toLowerCase() == tagName) {
          return el;
        }
      }
      return null;
    }

    function getFormGroup() {
      var selectedGroup = document.getElementById('id_group_select').value;
      var opts = Array.apply(null, document.getElementById('id_group_select').options);
      
      var groups = document.querySelectorAll('[data-groupid]');
      groups.forEach(function(element) {
        if (element.dataset.groupid === `group_${selectedGroup}`) {
          upTo(element, 'DIV').classList.remove('hidden');
        } else {
          upTo(element, 'DIV').classList.add('hidden');
        }
      });
    }


</script>

{% endblock content %}
