{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<div class="content">  
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %} 

 <h3>Pick the type of budget that best fits your needs.</h3>

 <a href="{% url 'budgets:budget-add' type='savings' %}">
   <div class="card card--fixedWidth">
     <div class="card__price">Savings</div>
     <div class="card__description">
       <div class="icon fa fa-list-alt card__descriptionIcon"></div>
       <div class="card__descriptionText">A savings budget helps you plan to reach an expensive goal (ex. "College Fund", "Seattle Trip Savings", "New Car")</div>
     </div>
   </div>
 </a>
 
 <a href="{% url 'budgets:budget-add' type='expense' %}">
   <div class="card card--fixedWidth">
     <div class="card__price">Expense</div>
     <div class="card__description">
       <div class="icon fa fa-list-alt card__descriptionIcon"></div>
       <div class="card__descriptionText">An expense budget helps you to track and plan wisely for recurring expenses (ex. "Groceries", "Rent", "Gas", "New Clothes").</div>
     </div>
   </div> 
 </a>

 <a href="{% url 'budgets:budget-add' type='debt' %}">
   <div class="card card--fixedWidth">
     <div class="card__price">Debt</div>
     <div class="card__description">
       <div class="icon fa fa-list-alt card__descriptionIcon"></div>
       <div class="card__descriptionText">A debt budget helps you to eliminate debt (ex. "Subaru Car Payment", "Student Loans")</div>
     </div>
   </div> 
 </a>
  
</div>

{% endblock content %}
