{% extends 'base.html' %}
{% load helpers %}
{% load budget_helpers %}

{% block page_title %}Budgets{% endblock page_title %}

{% block content %}
<div class="content" style="height: 600px;">
 
  <a href="{% url 'budgets:budget-select' %}">New Budget</button>
  
  {% for budget in budgets %}
    
    <a href="#" onclick="overlay({{ forloop.counter }})">
    <div class="budget-display">
      <div class="budget-icon">
        <span style="color:{{ budget.icon_color.value }};">{{ budget.icon|change_size:"fa-5x"|safe }}</span>
      </div>
      <div class="budget-info">
        <span>{{ budget.title }}</span>
      </div>
    </div>
    </a>
    
    <div class="overlay" style="background: {{ budget.icon_color.value }};"
         id="overlay-{{ forloop.counter }}">
      <div class="overlay--body">
        <a class="overlay--close" href='#' onclick='overlay({{ forloop.counter }})'><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></a>
        <h2 style="margin-bottom: 0;">{{ budget.title }}</h2>
        <p style="margin-top: 0;">{{ budget.get_period_display|default_if_none:"" }} {{ budget.get_budget_type_display }} Budget</p>
        <span style="color:{{ budget.icon_color.value }};">{{ budget.icon|change_size:"fa-5x"|safe }}</span>
        <hr/>
        <div class="overlay--detail">
        <div style="text-align:center">{{ budget.amount|as_currency }} of {{ budget.goal|as_currency }} <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
        <div class="progress-container">
          <span style="width:{{budget|as_percentage}}%;background-color:{{ budget.icon_color.value }};"></span>
        </div>
        <p><i class="fa fa-calendar-o" aria-hidden="true"></i> created {{ budget.created }}</p>
        <p><i class="fa fa-hourglass-end" aria-hidden="true"></i> {{ budget.goal_date|time_diff }} ({{ budget.goal_date}})</p>
        </div>
        <a href='#'><i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
      </div>
    </div>

  {% endfor %}

</div>
{% endblock content %}

{% block extra_scripts %}
  {% include "scripts/budget_detail.js" %}
{% endblock extra_scripts %}

