{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<div class="content">  
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %} 
  <form method="POST">
    {% csrf_token %}
    {% if form.errors %}{{form.errors}}{% endif %}
    {{ form|as_vertical_form }}
    <div class="action-group">
        <button type="submit" class="button" name="cancel">Cancel</button>
        <button type="submit" class="button button-color-1">Save Budget</button>
    </div>
  </form>
</div>

{% endblock content %}
