<nav class="main-nav">
  <ul>
    <li class="logo">Divvy</li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
    <li class="user dropdown">
      
      <div onclick="dropdown()" class="dropdown-button">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        {{ request.user.get_full_name }}
      </div>
      
      <div id="user_dropdown" class="dropdown-content hidden">
        <a href="{% url 'accounts:logout' %}">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>

<script>
  function dropdown() {
    document.getElementById("user_dropdown").classList.toggle("hidden");
  };
</script>
