* {
  margin: 0;
}
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #4b4d4c;
}

a {
  color: #22313F;
  text-decoration: none;
}

a:hover {
  color: #445667;
}

.hidden {
  display: none;
}

.main-nav {
  background-color: #5eab7d;
  height: 50px;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li {
  width: 200px;
}
.main-nav .user {
  margin-left: auto;
  -webkit-box-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

 
.main-nav .logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  cursor: default;
  margin-top: -5px;
  margin-left: -29px;
}



.content {
  margin: 12px;
}

.success {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #4caf50;
}

.errorlist {
  font-size: 12px;
  background: rgba(255, 255, 255, .5);
  border: solid 1px color(neutral-3);
  padding: 10px;
}
.errorlist  li {
    color: #E74C3C;
    padding: 0;
    list-style: none;
}

.errors {
}
.errors .input {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}

.errors select {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}

.button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4b4d4c;
  cursor: pointer;
  border-radius: 4px;
  color: #4b4d4c;
  background-color: #FFF;
}

.button-color-1 {
  background-color: #FF9F55;
  color: white;
  border: none;
}

.text-color-green {
  color: #2fa75b;
}

.text-color-red {
  color: #ce4e4e;
}

form .action-group {
  margin: 10px 0 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.input-group {
  display: block;
  margin-top: 7px;
}

.input-group .input {
  border: solid 1px #4b4d4c;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  color: #4b4d4c;
}

.input-group select {
  background: #FFF;
  border: solid 1px #4b4d4c;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  color: #4b4d4c;
}

.centered-container {
   margin: 12px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
