* {
}
html {
  font-family: "Varela Round","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  color: #4b4d4c;
  background: #fff;
}

hr { 
  border-style: solid;
  color: #e6e6e6;
}

a {
  color: #2f86cc;
  text-decoration: none;
}

a:hover {
  color: #51a5e8;
}

.hidden {
  display: none !important;
}
.first-nav {
  background: #fff;
  height: 50px;
}
.second-nav {
  background: #5eab7d;
  height: 50px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  justify-content: space-around;
}
.second-nav li {
  display: inline;
  margin-right: 40px;
}
.second-nav a {
  color: #d7f1e1;
  font-weight: bold;
}
.current {
  border-bottom: 6px solid #d7f1e1;
  padding-bottom: 8px;
}
.second-nav a:hover {
  color: #fff;
}

.main-nav {
  border-bottom: 4px solid #5eab7d;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
}

.first-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.first-nav li {
  width: 200px;
}
.first-nav .user {
  margin-left: auto;
  -webkit-box-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

 
.first-nav .logo {
  font-family: 'Pacifico', cursive;
  font-size: 37px;
  cursor: default;
  margin-top: -2px;
  margin-left: 0px;
}


.slider {
  animation-duration: 0.5s;
  animation-name: slideout;
  overflow: hidden;
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%; 
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}


.table-highlight tbody tr:hover {
  background: rgba(255, 198, 113, 0.46);
  cursor: url(./img/open-hand.png), auto;
}

.dragging-cursor { cursor: url(./img/closed-hand.png), auto; }

.content {
  margin: 25px;
}

.content__middle {
  width: 650px;
  float: left;
}
.content__right {
  width: 325px;
  float: right;
}
.content__bottom {
  float: left;
  width: 650px;
}
.centered-text {
  text-align: center;
}
.success {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #4caf50;
}

.errorlist {
  font-size: 12px;
  background: rgba(255, 255, 255, .5);
  border: solid 1px color(neutral-3);
  padding: 10px;
}
.errorlist  li {
    color: #E74C3C;
    padding: 0;
    list-style: none;
}

.errors {
    color: #c1564e;
    padding: 5px;
    border-radius: 4px;
}
.errors .input {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}

.errors select {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}


.section-overview .feature {
    width: 70%;
    padding: 20px;
    overflow: hidden;
}

.section-overview .feature:nth-child(even) img {
    margin-right: 15px;
    float: left;
}
.section-overview .feature:nth-child(odd) img {
    margin-right: 15px;
    float: right;
}

.side-by-side {
  display: -webkit-flex;
  display: flex;
}
.side-by-side > section {
  padding: 30px;
}
.drag-drop-form-container {
  text-align: center;
}
.child-elements { pointer-events: none; }
.accept-drag { 
  border: 2px solid rgb(99, 193, 103) !important;
}

.large-message {
  font-size: 30px;
  font-weight: 600;
}


.button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4b4d4c;
  cursor: pointer;
  border-radius: 4px;
  color: #4b4d4c;
  background-color: #f5f5f5;
  min-width: 100px;
  font-size: 13px;
  font-weight: 500;
}

.button-color-1 {
  background-color: #f2a334;
  color: #fff;
  border: none;
}

.text-color-green {
  color: #2fa75b;
}

.text-color-red {
  color: #ce4e4e;
}

.table-container>div {
  margin: 3px;
  vertical-align: middle;
  display: table-cell;
}
.table-container .right-side {
  padding-left: 50px;
}

.table-minimal {
  text-align: left;
  border-collapse: collapse;
}
.table-minimal th {
  padding: 10px 8px;
  border-bottom: 2px solid #ffc671;
}
.table-minimal td {
  padding: 9px 8px 0px 8px;
}


form .action-group {
  margin: 10px 0 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.overlay-white {
    background-color: #fff;
    pointer-events: none;
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 2;
}


.form-box-container {
  width: 320px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  background: #fff;
  border-radius: 5px;
}
.form-box-container .title {
  text-align: center;
  font-size: 18px;
  background: #5eab7d;
  margin-top: -35px;
  margin-left: -35px;
  margin-right: -35px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #fff;

}
.form-box-container .body {
  margin-top: 30px;
  margin-bottom: 45px;
}
.form-box-container form {
  width: 100%;
}
.form-box-container .footer {
  text-align: end;
  font-size: 13px;
  margin-top: -35px;
  margin-left: -35px;
  margin-right: -35px;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  color: #fff;
  /*background: #efeade;*/
}

.intro-container-1 {
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 50px;
}
.intro-container-1 h2 {
  text-align: center;
  margin-bottom: 50px;
}
.intro-container-1 .intro-body {
  padding-left: 150px;
}

.intro-container-2 {
  height: 500px;
  background: #5eab7d;
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 50px;
}
.intro-container-2 h2 {
  text-align: center;
  margin-bottom: 50px;
}

.intro-container-3 {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  text-align: center;
  height: 70px;
}

.input-group {
  display: block;
  margin-top: 7px;
}

.input-group label {
  display: block;
}

.input-group .input {
    padding-left: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 30px;
    font-size: 15px;
    width: 100%;
}

.input-group .input-inline {
    padding-left: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 30px;
    font-size: 15px;
}

.input-group textarea {
    padding-left: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 100px;
    font-size: 15px;
}

.input-group select {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: 15px;
  height: 35px;
}



.centered-container {
   margin-left: -8px;
   margin-right: -8px;
   margin-top: -4px;
   border-top: 4px solid #5eab7d;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   background: #89c4f4;
   height: 500px;
}

.centered-container .first-blurb {
  padding: 60px;
  max-width: 400px;
}
.overlay {
     visibility: hidden;
     position: absolute;
     left: 0;
     top: 108px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background: #66ab68;
}
.overlay .overlay--detail {
    text-align: left;
}
.overlay .overlay--close {
    position: absolute;
    top: 3px;
    right: 4px;
    color: #D64541;
}
.overlay .overlay--body {
     width:320px;
     margin: 100px auto;
     background-color: #fff;
     border-radius: 5px;
     padding:30px;
     position: relative;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


.modal-form {
  position: absolute;
  left: 0;
  top: 108px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background: #66ab68;
}
.modal-form .modal-form--body {
     width:370px;
     margin: 30px auto;
     background-color: #fff;
     border-radius: 5px;
     padding:30px;
     position: relative;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-form .modal-form--detail {
    text-align: left;
}
.modal-form .modal-form--close {
    position: absolute;
    top: 3px;
    right: 4px;
    color: #D64541;
}



.budget-display {
  display: inline-flex;
  padding: 5px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
  flex-direction: column;
  min-width: 150px;
  align-items: center;
}
.budget-icon {
  display: flex;
  display: -webkit-flex;
}
.budget-info {
  display: flex;
  display: -webkit-flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-button {
  cursor: pointer;
  color: #2f86cc;
}

.card {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: inline-flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically.
   */
  flex-direction: column;

  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  min-height: 215px;
}

  .card__description {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * We're going to lay out this element's children
     * just like in the "Centered prompt" example.
     * First we'll rotate the main axis so that the
     * children are laid out vertically.
     */
    flex-direction: column;
    
    /**
     * Just like in the "Centered prompt" example,
     * we'll align the children in the center, along
     * the main axis.
     */
    align-items: center;

    /**
     * And just like in the "Centered prompt", we'll
     * group the children in the center of their
     * container.
     */
    justify-content: center;

    padding: 15px 0;
  }

    .card__descriptionIcon {
      font-size: 53px;
      margin-bottom: 10px;
      color: #48769a;
    }

    .card__descriptionText {
      color: #57727C;
      font-size: 12px;
      text-align: center;
      max-width: calc(100% - 30px);
    }

  .card__price {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    background-color: #48769a;
  }

.card--fixedWidth {
  max-width: 170px;
  background: #fff;
}





.active {
  background-color: #95a3b3 !important;
  color: #fff !important;
}
.tag-styles {
  padding-top: 0.4em;
  padding-right: 0.5em;
  padding-bottom: 0.4em;
  padding-left: 0.5em;
  font-size: 14px;
  font-weight: bold;
  background-color: #6C7A89;
  color: #ECECEC;
  margin-right: 2px;
  border-radius: 5px;
  cursor: default;
  position: relative;
  text-align: left;
}
.tag-input {
  font-size: 15px;
  position: relative;
  outline: none !important;
  border: none !important;
  display: table-cell;
  width: 100%;
}
.tag-editor {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: table;
}
.normal-styles {
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  color: #4b4d4c;
  font-weight: bold;
}
.tag-close {
  cursor: pointer;
  position: relative;
  top: -1px;
  right: -5px;
  font-size: 13px;
  color: #ffa08e;
}

.transaction--container {
  width: 95%;
}
.transaction--card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
  height: 45px;
  margin: 2px;
}
.transaction--card .stripe{
  width: 7px;
  float: left;
  background: #48a199;
  border: 1px solid #48a199;
  margin-left: -1px;
  margin-top: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.transaction--card .body {
  font-size: 11px;
  color: #707070; 
  margin-left: 13px;
  margin-top: 10px;
}
.transaction--card .body > span {
  padding: 8px;
}
.transaction--card .edit {
  font-size: 20px;
  float: right;
  margin-right: 7px;
}

.progress-container { 
    height: 15px;  /* Can be anything */
    position: relative;
    background: #cdcdcd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.progress-container > span {
  display: block;
  height: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}


.widget {
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #06060d;
    height: 300px;
    margin-top: 10px;
}

.widget-header{
    height:40px;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
}

.chart-container{
}

.shadow {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
}


