* {

}
html {
  font-family: "Varela Round","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  color: #4b4d4c;
  background: #fff;
}

hr { border-style: solid; }

a {
  color: #2f86cc;
  text-decoration: none;
}

a:hover {
  color: #51a5e8;
}

.hidden {
  display: none !important;
}

.main-nav {
  border-bottom: 2px solid #5eab7d;
  height: 50px;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li {
  width: 200px;
}
.main-nav .user {
  margin-left: auto;
  -webkit-box-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

 
.main-nav .logo {
  font-family: 'Pacifico', cursive;
  font-size: 37px;
  cursor: default;
  margin-top: 2px;
  margin-left: -29px;
}



.content {
  margin: 25px;
}

.success {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #4caf50;
}

.errorlist {
  font-size: 12px;
  background: rgba(255, 255, 255, .5);
  border: solid 1px color(neutral-3);
  padding: 10px;
}
.errorlist  li {
    color: #E74C3C;
    padding: 0;
    list-style: none;
}

.errors {
}
.errors .input {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}

.errors select {
  border: 1px solid rgba(231, 76, 60, 0.72) !important;
  box-shadow: inset 0 0 1px #E74C3C;
}

.button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4b4d4c;
  cursor: pointer;
  border-radius: 4px;
  color: #4b4d4c;
  background-color: #FFF;
}

.button-color-1 {
  background-color: #FF9F55;
  color: white;
  border: none;
}

.text-color-green {
  color: #2fa75b;
}

.text-color-red {
  color: #ce4e4e;
}


.table-container>div {
  margin: 3px;
  vertical-align: middle;
  display: table-cell;
}
.table-container .right-side {
  padding-left: 50px;
}

.table-minimal {
  margin: 10px;
  text-align: left;
  border-collapse: collapse;
}
.table-minimal th {
  padding: 10px 8px;
  border-bottom: 2px solid #388bce;
}
.table-minimal td {
  padding: 9px 8px 0px 8px;
}


form .action-group {
  margin: 10px 0 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.input-group {
  display: block;
  margin-top: 7px;
}

.input-group .input {
  border: solid 1px #4b4d4c;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  color: #4b4d4c;
}

.input-group select {
  background: #FFF;
  border: solid 1px #4b4d4c;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  color: #4b4d4c;
}

.centered-container {
   margin: 12px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}



.card {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: inline-flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically.
   */
  flex-direction: column;

  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  min-height: 215px;
}

  .card__description {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * We're going to lay out this element's children
     * just like in the "Centered prompt" example.
     * First we'll rotate the main axis so that the
     * children are laid out vertically.
     */
    flex-direction: column;
    
    /**
     * Just like in the "Centered prompt" example,
     * we'll align the children in the center, along
     * the main axis.
     */
    align-items: center;

    /**
     * And just like in the "Centered prompt", we'll
     * group the children in the center of their
     * container.
     */
    justify-content: center;

    padding: 15px 0;
  }

    .card__descriptionIcon {
      font-size: 53px;
      margin-bottom: 10px;
      color: #48769a;
    }

    .card__descriptionText {
      color: #57727C;
      font-size: 12px;
      text-align: center;
      max-width: calc(100% - 30px);
    }

  .card__price {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    background-color: #48769a;
  }

.card--fixedWidth {
  max-width: 170px;
  background: #fff;
}





.active {
  background-color: #95a3b3 !important;
  color: #fff !important;
}
.tag-styles {
  padding-top: 0.4em;
  padding-right: 0.5em;
  padding-bottom: 0.4em;
  padding-left: 0.5em;
  font-size: 14px;
  font-weight: bold;
  background-color: #6C7A89;
  color: #ECECEC;
  margin-right: 2px;
  border-radius: 5px;
  cursor: default;
  position: relative;
  text-align: left;
}
.tag-input {
  font-size: 15px;
  position: relative;
  outline: none !important;
  border: none !important;
  display: table-cell;
  width: 100%;
}
.tag-editor {
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  height: 32px;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  display: table;
  box-shadow: 0 1px 4px rgba(12,13,14,0.1) inset;
}
.normal-styles {
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  color: #4b4d4c;
  font-weight: bold;
}
.tag-close {
  cursor: pointer;
  position: relative;
  top: -1px;
  right: -5px;
  font-size: 13px;
  color: #ffa08e;
}

